body{
    background-color: rgba(255, 255, 00, 0.3);
}
.main{
    display: flex;
    width: 100%;
}
.main div{
    margin: 10px;
}
#Schedule{
    position: absolute;
    margin: 0% 73%;
}
#Notice{
    position: absolute;
    margin: 50vh 73%;
}
.form-floating{
    position: relative;
    margin: 1% 0%;
}
.contact_us{
    width: 100%;
    text-align: center;
}
i{
    font-size: 4em;
}
.social_media a i{
    margin: 40px;
}
#Overview > div{
    margin: 15px;
} 
/* #Overview div :hover{
 box-shadow: 8px 8px 8px blue;
} */
.container-fluid a i:hover{
    color: blue;
}